/* Navbar.css */

.topbar-hello {
    background-color:#f8f9fa;
    color: #171515;
    padding: 10px 0;
    text-align:end;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  
  .user {
    font-size: 20px;
    color: #050404;
  }
  
  .username-color {
    color: #050404;
  }
  